WebSite1/App_WebReferences/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:47787/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:47787/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:47787/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSaleData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSaleData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetQuarterlySales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuarterlySales" />
  </wsdl:message>
  <wsdl:message name="IService1_GetQuarterlySales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuarterlySalesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchase" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRevenue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRevenue" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRevenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRevenueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSaleData" message="tns:IService1_GetSaleData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSaleDataResponse" message="tns:IService1_GetSaleData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuarterlySales">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetQuarterlySales" message="tns:IService1_GetQuarterlySales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetQuarterlySalesResponse" message="tns:IService1_GetQuarterlySales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPurchase" message="tns:IService1_GetPurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPurchaseResponse" message="tns:IService1_GetPurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRevenue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRevenue" message="tns:IService1_GetRevenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRevenueResponse" message="tns:IService1_GetRevenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSaleData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuarterlySales">
      <soap:operation soapAction="http://tempuri.org/IService1/GetQuarterlySales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchase">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRevenue">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRevenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:47787/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>